.container {
  margin-top: 4rem;
}

.content {
  max-width: 1160px;
  padding: 0 1.5rem 2rem;
  margin: 3rem auto 0;

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.5rem;
  }

  button {
    margin-top: 2.25rem;
  }

  > p {
    color: var(--purple-200);
    font: 600 1.25rem "Open Sans", sans-serif;
    margin-top: 32px;
  }

  ul {
    display: flex;
    align-items: center;

    margin-top: 2.25rem;

    li {
      position: relative;

      width: 14.5rem;
      height: 14.5rem;

      padding: 0.5rem 1rem 1rem;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      color: var(--pink-500);
      background: var(--pink-50);

      overflow: hidden;

      & + li {
        margin-left: 1.5rem;
      }

      &.green {
        color: var(--green-550);
        background: var(--green-50);
      }

      &.cyan {
        color: var(--cyan-550);
        background: var(--cyan-50);
      }

      span {
        font-size: 4.5rem;
        font-weight: 800;
        line-height: 5.75rem;

        color: inherit;
      }

      p {
        font-size: 1.75rem;
        font-weight: 800;
        line-height: 2rem;

        color: inherit;
      }

      &::before {
        content: url(/assets/pink-square.svg);
        position: absolute;
        top: -8px;
        right: -8px;
      }

      &.green::before {
        content: url(/assets/green-circle.svg);
      }

      &.cyan::before {
        content: url(/assets/cyan-triangle.svg);
      }
    }
  }
}
